body{
    background-color:#FF8F8F;
    font-size: 15px;
    padding: 15px;
    color: rgb(102, 75, 119);
}

/*h2,p{
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 30px;
}

h1,h4{
    text-align: center;
}*/